<mat-toolbar>Pacientes</mat-toolbar>
<div class="example-container mat-elevation-z8">

    <!-- Para poder navegar hacia componentes hijos -->
    <router-outlet></router-outlet>


    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar paciente">
        </mat-form-field>
    </div>


    <mat-table [dataSource]="dataSource" mat-sort>
        <!-- el dataTable amarramos el datasource, y en el paciente.component.ts haremos las columnas para amarrarlas con estas-->

        <ng-container matColumnDef="idPaciente">
            <!-- definimos el encabezado - el sort para flechitas y que ordene alfabeticamente -->
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <!-- el contenido de esa columna -->
            <!-- let row = para todo lo que hay en el dataSource para cada fila, mostrar el idPaciente -->
            <mat-cell *matCellDef="let row"> {{row.idPaciente}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombres}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidos">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.apellidos}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <!-- Definir un enlace para el boton , establecer paramteros con corchetes, luego pasar como valor row.idPaciente-->

                <button mat-button color="primary" [routerLink]="['edicion', row.idPaciente]">Actualizar</button>
                <button mat-button color="accent" (click)="eliminar(row.idPaciente)"> Eliminar</button>

            </mat-cell>
        </ng-container>

        <!-- ordenamiento de las columnas de mayor a menor-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">

        </mat-row>

    </mat-table>

    <!-- para la paginacion del dataTable -->

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<br>

<button mat-fab color="accent" style="float: right" routerLink='/paciente/nuevo'>
    <mat-icon>create</mat-icon>

</button>