<mat-card>Ingrese los signos vitales del paciente</mat-card>

<br>

<!-- Para obtener los datos del paciente  con un formulario-->

<!-- Aparte de one way binding y two way binding la otra forma de capturar data es los formularios-->
<!-- El ngSubmit busca un metodo llamado operar() en el paciente-edicion.ts, eso pasara cuando haga click en aceptar o cancelar - se dispara ngsubmit  -->
<!-- El "form" es una variable que esta en el paciente.edicion.component.ts  -->
<!-- #frmPaciente es un apodo aca en angular y es del tipo ngForm que indica que es un formulario de angular-->
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmSignos="ngForm">
    <router-outlet></router-outlet>


    <div [hidden]="true">
        <mat-form-field class="exmple-full-width">
            <!-- formControlName: es el nombre del typeScript como debene de llamarse-->
            <input matInput placeholder="Id" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlPaciente" formControlName="paciente">
        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
            <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
                {{ p.nombres }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary" routerLink='/signos/nuevopaciente' type="button">
        <mat-icon>done</mat-icon>
        <span>Nuevo Paciente</span>
    </button>

    <mat-form-field class="exmple-full-width">
        <input matInput placeholder="Fecha" required formControlName="fecha">
    </mat-form-field>

    <mat-form-field class="exmple-full-width">
        <input matInput placeholder="Temperatura" required formControlName="temperatura">
    </mat-form-field>

    <mat-form-field class="exmple-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field class="exmple-full-width">
        <input matInput placeholder="Ritmo" required formControlName="ritmo">
    </mat-form-field>

    <!-- disabled: tiene campos required, para que si un campo no esta lleno o no es invalido lo coloque true es decir invalid, y coloque el boton deshabilitado  -->
    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" routerLink='/signos' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>

</form>